.square {
  display: flex;
  align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: green;
  transition: 1s linear;
}

.translateX {
  transform: translateX(270px);
}

.translateY {
  transform: translateY(120px);
}

.translate {
  transform: translate(270px, 120px);
}

.scaleX {
  transform: scaleX(3);
}

.scaleY {
  transform: scaleY(3);
}

.scale {
  transform: scale(3, 3);
}

.rotate {
  transform: rotate(180deg);
}
