.square {
  display: flex;
  align-items: center;
  color: white;
  width: 50px;
  height: 50px;
  background-color: green;
}

@keyframes translateX {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(500px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes translateY {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(270px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes scaleX {
  from {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.5);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes scaleY {
  from {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes skewX {
  from {
    transform: skewX(0);
  }
  50% {
    transform: skewX(45deg);
  }
  to {
    transform: skewX(0);
  }
}

.translateX {
  animation: translateX 2s linear;
}

.translateY {
  animation: translateY 2s linear;
}

.scaleX {
  animation: scaleX 2s linear;
}

.scaleY {
  animation: scaleY 2s linear;
}

.skewX {
  animation: skewX 2s linear;
}

.skewY {
  transform: skewY(45deg);
}

.rotate {
  transform: rotate(180deg);
}

.transformOrigin {
  animation: translateY 3s linear;
  transform-origin: left;
}
