.checkboxContainer {
  display: flex;
  justify-content: center;
}

.transformContainer {
  width: 750px;
  height: 500px;
  margin: 0px auto 30px auto;
}

.block {
  width: 10%;
  margin-bottom: 30px;
}
