.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 78px;
}

.inputBlock {
  margin-bottom: 22px;
}

@media only screen and (max-width: 750px) {
  .form {
    margin-top: 38px;
  }
  .inputBlock {
    margin-bottom: 16px;
  }
}
