.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authForm {
  width: 314px;
  margin: 120px auto 0 auto;
}

.authForm h1 {
  margin-bottom: 60px;
  font-family: Halvar;
  color: #ffffff;
  font-weight: lighter;
  font-size: 28px;
}

.inputBlock {
  margin-bottom: 22px;
}
