.container {
  padding-bottom: 78px;
}

.switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  background-color: #1f2235;
  width: 288px;
  height: 48px;
  margin: 28px auto 60px auto;
}

.switchButton {
  font-family: PT_Root_UI_medium;
  font-size: 18px;
  padding: 8px 0;
  font-weight: normal;
  color: #676c7a;
  width: 132px;
  margin: 0 5px 0 0;
  text-align: center;
  border-radius: 14px;
}

.selected {
  color: #ffffff;
  background-color: #ab81f1;
  margin: 0 0 0 5px;
}

.questionary {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

.personalDataLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 317px;
}

.dividerLeft {
  display: inline-block;
  width: 36px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.dividerRight {
  display: inline-block;
  width: 36px;
}

.personalDataRight {
  display: flex;
  flex-direction: column;
  width: 317px;
}

.checkboxBlock {
  margin-top: 82px;
}

.select {
  position: absolute;
  z-index: 2;
}

.switchButton {
  margin-left: 5px;
  background-color: #1f2235 !important;
}

.switchButton:disabled {
  color: #fff !important;
  background-color: #ab81f1 !important;
}

@media only screen and (max-width: 750px) {
  .switch {
    margin: 38px auto;
  }

  .questionary {
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
  }

  .personalDataLeft {
    align-items: center;
  }

  .dividerLeft {
    display: block;
    width: 311px;
    height: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: none;
  }
  .dividerRight {
    display: block;
    height: 16px;
  }

  .personalDataRight {
    width: 288px;
    align-items: center;
  }
}
