.header {
  text-align: center;
  font-family: Halvar_medium;
  font-size: 53px;
  font-weight: 400;
  color: #ffffff;
  margin: 38px 0 70px 0;
}

.h1 {
  margin: 0 0 0 0;
  text-align: center;
  font-family: Halvar;
  font-size: 28px;
  font-weight: normal;
  color: #ffffff;
}

.h2 {
  align-self: flex-start;
  color: #fff;
  font-family: PT_Root_UI_medium;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 16px 0;
}

.logoutButton {
  margin-top: 50px;
}

@media only screen and (max-width: 750px) {
  .header {
    font-size: 30px;
    line-height: 36px;
    padding: 24px 0 70px 0;
  }

  .h1 {
    font-size: 28px;
    line-height: 34px;
  }
}

@font-face {
  font-family: 'Halvar_medium';
  src: url('./assets/fonts/Halvar\ Breitschrift/Halvar Breitschrift Medium.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar';
  src: url('./assets/fonts/Halvar\ Breitschrift/Halvar Breitschrift Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar';
  src: url('./assets/fonts/Halvar\ Breitschrift/Halvar Breitschrift Light.ttf')
    format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'PT_Root_UI_medium';
  src: url('./assets/fonts/PT\ Root\ UI/PT Root UI_Medium.ttf')
    format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url('./assets/fonts/PT\ Root\ UI/PT Root UI_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url('./assets/fonts/PT\ Root\ UI/PT Root UI_Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
