.container {
  margin: 0 auto;
  width: 1440px;
  height: 990px;
  background-color: #06091f;
}

.App-header {
  text-align: center;
  font-family: Halvar;
  font-size: 53px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 38px;
}

@font-face {
  font-family: 'Halvar';
  src: url('./Fonts/Halvar\ Breitschrift/Halvar Breitschrift Medium.ttf')
    format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar';
  src: url('./Fonts/Halvar\ Breitschrift/Halvar Breitschrift Regular.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Halvar';
  src: url('./Fonts/Halvar\ Breitschrift/Halvar Breitschrift Light.ttf')
    format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url('./Fonts/PT\ Root\ UI/PT Root UI_Medium.ttf') format('truetype');
  font-style: medium;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url('./Fonts/PT\ Root\ UI/PT Root UI_Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT_Root_UI';
  src: url('./Fonts/PT\ Root\ UI/PT Root UI_Regular.ttf') format('truetype');
  font-style: normal;
}
