.inputBlock {
  width: 286px;
  margin: 0 0 16px 0;
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.input input {
  flex-grow: 1;
  display: block;
  background-color: initial;
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  font-family: PT_Root_UI_medium;
  font-style: normal;
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

.inputModified {
  align-self: flex-end;
  margin-bottom: 6px;
}

.input::placeholder {
  font-family: PT_Root_UI_medium;
  color: #676c7a;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

label {
  align-self: flex-start;
  position: absolute;
  display: block;
  padding-top: 4px;
  font-family: PT_Root_UI;
  color: #676c7a;
  font-weight: bold;
  font-size: 10px;
}

.selected,
.input:hover {
  border: 1px solid #ab81f1;
}

.selected label {
  color: #ab81f1;
}

.error {
  margin-top: 4px;
  font-family: PT_Root_UI;
  font-style: normal;
  font-size: 12px;
  color: #f6483d;
}
.eye {
  margin-right: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1000px #1f2236 inset;
}
